.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-size: 60px;
    color: azure;
}

.button-home{
  color: rgb(6, 0, 128);
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  
}
.button-home:hover {
  background-color:rgba(33, 27, 98, 0.617);
  color: white;
}